@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: "Quicksand", sans-serif;
}

body::-webkit-scrollbar {
    width: 1px;
}

body::-webkit-scrollbar-thumb {
    background-color: #535050;
}

.home {
    background-color: #B8B0B0;
}

/* estilização da navbar */
.menu-container {
    width: 100%;
    height: 600px;
    background-image: url('./images/banner.jpg');
    background-size: cover;
}

.header-navigation {
    display: flex;
}

.navigation {
    display: flex;
    position: absolute;
    right: 0;
    margin-left: 40%;
}

.itens {
    font-family: "Quicksand", sans-serif;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 22px !important;
    font-weight: 480 !important;
    align-items: center;
    align-content: center;
    cursor: pointer;
}

.itens a {
    color: #fff;
    text-decoration: none;
}
  
.itens a:hover {
    opacity: .7;
}

.yuki-logo {
    margin-top: 20px;
    margin-left: 20px;
    width: 100px;
}

.banner-text-container {
    text-align: center;
    margin-top: 70px
}

.banner-text {
    font-size: 65px;
    text-transform: uppercase;
    font-family: "Protest Strike", sans-serif;
    margin: 0;
    color: #fff;
}

#banner-text-opacity {
    color: #ffffff61;
}

/* estilizaqção do footer */
.footer-img-container {
    margin-top: 60px;
    text-align: center;
    bottom: 0;
}

.footer-img {
    width: 50px;
    padding: 0 5px;
    cursor: pointer;
}

.footer-text-container {
    text-align: center;
    padding-bottom: 20px;
    margin-top: 15px;
}

.footer-text {
    color: #000;
    font-size: 25px;
    margin-bottom: 0;
    font-family: "Quicksand", sans-serif;
}

/* estilização da home */
.home {
    background-color: #B8B0B0;
}

.combos-container {
    background-color: #535050;
    padding: 30px;
    width: 1325px;
    height: 950px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-family: "Quicksand", sans-serif;
}

.combos-title {
    font-size: 50px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 40px;
    background: #000;
    color: #fff;
    display: inline-block;
    padding: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: "Protest Strike", sans-serif;
}

.combo-item {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.combo-item img {
    width: 260px;
    height: 260px;
}
  
.combo-text h1 {
    font-size: 35px;
    color: #fff;
}
  
.combo-text p {
    font-size: 15px;
    color: #ffffff;
    max-width: 400px;
    text-align: justify;
}

.mapa-container {
    margin-top: 50px;
}

iframe {
    height: 547px;
    width: 991px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.mapa-text {
    font-family: "Protest Strike", sans-serif;
    font-size: 64px;
    background-color: #000;
    color: white;
    width: 750px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 20px;
}

.sushi-picture {
    position: absolute;
    top: 200px;         
    right: 0px;          
    width: 750px;           
    height: auto;
    z-index: 10;        
    pointer-events: none;  
    
}

/* estilização da página sobre nós */
.about-us-container {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.about-us-text {
    width: 800px;
    text-align: justify;
    margin-right: 20px;
}

.about-us-text h2 {
    font-size: 62px;
    font-family: "Protest Strike", sans-serif;
}

.about-us-text p {
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
    margin-top: 20px;
}

.about-us-img-container img {
    width: 600px;
    margin-left: 20px;
}

.pratos-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.pratos-fotos {
    margin: 60px 40px;
}

/* estilizando a página menu */
.menu-text {
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
    font-family: "Quicksand", sans-serif;
}

.cardapio {
    width: 1400px;
    height: 2000px;
    margin-top: 70px;
    justify-content: center;
    margin-left: 150px;
}

/* estilizando a página restaurante */
.restaurante-text {
    font-size: 18px;
    max-width: 600px;
    color: #000;
    font-family: "Quicksand", sans-serif;
}

.restaurante-components {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    text-align: justify;
    gap: 20px;
}

.restaurante-img {
    width: 600px;
    height: 400px;
}

.horario-container {
    border: 2px solid #000;
    padding: 25px 40px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    font-family: "Quicksand", sans-serif;
}

.horario-container h2 {
    font-size: 25px;
    font-weight: 450;
    margin: 0 0 20px 0;
    letter-spacing: 1px;
}

.horario-container p {
    font-size: 20px;
    margin: 5px 0;
    line-height: 1.6;
}

.horario-container .rodizio {
    color: #a0522d;
    font-size: 18px;
    margin-top: 10px;
    font-style: italic;
}

/* estilizando a página de reservas */
.reserva-container {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    height: 600px;
    align-items: center;
}

.reserva-text {
    width: 800px;
    text-align: justify;
    margin-right: 20px;
}

.reserva-text h2 {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 100;
    font-family: "Quicksand", sans-serif;
}

.reserva-text p {
    font-size: 25px;
    font-family: "Quicksand", sans-serif;
}

.reserva-text img {
    width: 200px;
    margin-top: 20px;
}

.reserva-img-container img {
    width: 500px;
    margin-left: 20px;
}

/* estilizando a página contato */
.contact-us-container {
    text-align: center;
    margin-top: 40px;
}

.contact-us-container h2 {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: "Protest Strike", sans-serif;
}

.formulario-contato {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: 0 auto;
    gap: 16px;
    background-color: #d9d9d963;
    padding: 30px;
    font-family: "Quicksand", sans-serif;
}

input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 0;
    background-color: #d9d9d9;
}

input::placeholder,
textarea::placeholder {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
}

button {
    padding: 10px;
    background-color: #d9d9d9;
    color: white;
    border: none;
    cursor: pointer;
}

.adress-container {
    margin-top: 100px;
    margin-bottom: 75px;
    text-align: center;
    font-family: "Quicksand", sans-serif;
}

.adress-container h5 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
}

.adress-container p {
    font-size: 30px;
    font-weight: 500;
}